<?xml version="1.0"?>
<config>
    <modules>
        <SomethingDigital_NavigationFeaturedImages>
            <version>0.0.1</version>
        </SomethingDigital_NavigationFeaturedImages>
    </modules>
    <global>
        <helpers>
            <sd_navfeaturedimages>
                <class>SomethingDigital_NavigationFeaturedImages_Helper</class>
            </sd_navfeaturedimages>
        </helpers>
        <models>
            <sd_navfeaturedimages>
                <class>SomethingDigital_NavigationFeaturedImages_Model</class>
            </sd_navfeaturedimages>
        </models>
        <resources>
            <sd_navfeaturedimages_setup>
                <setup>
                    <module>SomethingDigital_NavigationFeaturedImages</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </sd_navfeaturedimages_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <class>sd_navfeaturedimages/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </catalog_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <catalog_add_featured_related_attributes>
                        <class>sd_navfeaturedimages/observer</class>
                        <method>addFeaturedRelatedAttributes</method>
                    </catalog_add_featured_related_attributes>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
        <category>
            <collection>
                <attributes>
                    <nav_featured_image/>
                    <nav_featured_link/>
                    <nav_featured_text/>
                </attributes>
            </collection>
        </category>
    </frontend>
</config>
